menuentry "Rick OS" {
    multiboot /boot/myos.bin
    module /boot/shell.elf
    module /boot/echo.elf
    module /boot/cat.elf
    module /boot/ping.elf
    module /boot/pong.elf
    module /boot/write.elf
    module /boot/ls.elf
    module /boot/rm.elf
    module /boot/mkdir.elf
}
