menuentry "Rick OS" {
    multiboot /boot/myos.bin
    module /boot/shell.elf     # 告訴 GRUB 順便幫我載入這個檔案！
    module /boot/echo.elf
    module /boot/cat.elf
    module /boot/ping.elf
    module /boot/pong.elf
    module /boot/write.elf
    module /boot/ls.elf
    # boot
}
