# 設定預設選擇第一個選項，並且等待 5 秒讓使用者選
set default=0
set timeout=5

menuentry "Rick OS (Desktop GUI)" {
    set gfxpayload=800x600x32
    # 傳遞 mode=gui 參數
    multiboot /boot/myos.bin mode=gui
    module /boot/shell.elf
    module /boot/echo.elf
    module /boot/ping2.elf
    module /boot/pong.elf
    # file
    module /boot/touch.elf
    module /boot/cat.elf
    module /boot/ls.elf
    module /boot/rm.elf
    module /boot/mkdir.elf
    # process
    module /boot/ps.elf
    module /boot/top.elf
    module /boot/kill.elf
    # memory
    module /boot/free.elf
    module /boot/segfault.elf
    # network
    module /boot/ping.elf
    # window
    module /boot/status.elf
    module /boot/paint.elf
    module /boot/viewer.elf
    module /boot/logo.bmp
    module /boot/clock.elf
    module /boot/explorer.elf
    module /boot/taskmgr.elf
    module /boot/notepad.elf
    module /boot/tictactoe.elf
}

menuentry "Rick OS (Command Line)" {
    set gfxpayload=800x600x32
    # 傳遞 mode=cli 參數
    multiboot /boot/myos.bin mode=cli
    module /boot/shell.elf
    module /boot/echo.elf
    module /boot/ping.elf
    module /boot/pong.elf
    # file
    module /boot/touch.elf
    module /boot/cat.elf
    module /boot/ls.elf
    module /boot/rm.elf
    module /boot/mkdir.elf
    # process
    module /boot/ps.elf
    module /boot/top.elf
    module /boot/kill.elf
    # memory
    module /boot/free.elf
    module /boot/segfault.elf
    # network
    module /boot/ping.elf
}
