# 設定預設選擇第一個選項，並且等待 5 秒讓使用者選
set default=0
set timeout=5

menuentry "Rick OS (Desktop GUI)" {
    set gfxpayload=800x600x32
    # 傳遞 mode=gui 參數
    multiboot /boot/myos.bin mode=gui
    module /boot/shell.elf
    module /boot/echo.elf
    module /boot/cat.elf
    module /boot/ping.elf
    module /boot/pong.elf
    module /boot/touch.elf
    module /boot/ls.elf
    module /boot/rm.elf
    module /boot/mkdir.elf
    module /boot/ps.elf
    module /boot/top.elf
    module /boot/kill.elf
}

menuentry "Rick OS (Command Line)" {
    set gfxpayload=800x600x32
    # 傳遞 mode=cli 參數
    multiboot /boot/myos.bin mode=cli
    module /boot/shell.elf
    module /boot/echo.elf
    module /boot/cat.elf
    module /boot/ping.elf
    module /boot/pong.elf
    module /boot/touch.elf
    module /boot/ls.elf
    module /boot/rm.elf
    module /boot/mkdir.elf
    module /boot/ps.elf
    module /boot/top.elf
    module /boot/kill.elf
}
