menuentry "Rick OS" {
    # 【新增】強制 GRUB 切換到 800x600 32-bit 圖形模式！
    set gfxpayload=800x600x32

    multiboot /boot/myos.bin
    module /boot/shell.elf
    module /boot/echo.elf
    module /boot/cat.elf
    module /boot/ping.elf
    module /boot/pong.elf
    module /boot/touch.elf
    module /boot/ls.elf
    module /boot/rm.elf
    module /boot/mkdir.elf
}
